name: travelin
description: "Travelin adalah aplikasi dashboard management travel yang dirancang untuk membantu perusahaan jasa transportasi dan perjalanan dalam mengelola operasional mereka secara efisien. Aplikasi ini menyediakan tampilan dashboard interaktif yang memudahkan pemantauan dan pengelolaan data perjalanan, armada, pelanggan, serta transaksi secara real-time."
publish_to: 'none'
version: 0.1.0

environment:
  sdk: ^3.7.0

dependencies:
  flutter:
    sdk: flutter
  http: ^1.1.0
  shared_preferences: ^2.2.2


  intl: ^0.20.2
  flutter_dotenv: ^6.0.0
  logger: ^2.6.2
  font_awesome_flutter: ^10.9.1
  another_flushbar: ^1.12.32

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true
  assets:
    - .env
  
